extends layout

block head
  link(rel='stylesheet' href='/stylesheets/index.css')
  link(rel='stylesheet' href='/stylesheets/jcarousel.css')
  script(src='/javascript/jquery.jcarousel.min.js')
  script(src='/javascript/jcarousel.ajax.js')
  script(src='/javascript/index-script.js')
block content
  #banner
    h1#title Tradizon
    a#start_trading.btn.btn-primary.btn-lg(href="/signin") Start Trading
  #new_items
    h1 New Items
    .jcarousel-wrapper
      .jcarousel
        .loading Loading new items
      a.jcarousel-control-prev(href='#') &lsaquo;
      a.jcarousel-control-next(href='#') &rsaquo;
