extends layout
block head
    link(rel='stylesheet' href='/stylesheets/homepage.css')
block content
    div#main-wrapper
       div#banner
           img(href="")
           button.btn.btn-danger(type="button") Sign Out
           button.btn.btn-primary(type="button") New Item
       div#user-items
       div#browse-items
