extends layout

block head
  link(rel='stylesheet' href='/stylesheets/index.css')
  link(rel='stylesheet' href='/stylesheets/jcarousel.css')
  script(type='text/javascript' src='/javascript/jquery.jcarousel.min.js')
  script(type='text/javascript' src='/javascript/jcarousel.ajax.js')

block content
  #main-wrapper
    #banner
      a#start_trading.btn.btn-primary.btn-lg(href="/signin") Start Trading
    #new_items
      h1 New Items
      .jcarousel-wrapper
        .jcarousel
          .loading Loading new items
        a.jcarousel-control-prev(href='#') &lsaquo;
        a.jcarousel-control-next(href='#') &rsaquo;
