extends layout
block head
    link(rel='stylesheet' href='/stylesheets/index-signedin.css')
block content
    #main-wrapper
       #banner
           img(href="")
           #two-buttons
           a#sign-out.btn.btn-danger(href='/signout') Sign Out
           a#new-item.btn.btn-primary(type="button") New Item
       #user-items
       #categories
           ul.nav.nav-pills.nav-stacked
               li.active: a(href='#') Books
               li: a(href='#') DVD
               li: a(href='#') Softwares
       #browse-items
