each data in items
   div.item-box.text-center(data-item-id=data.id, onclick='showDetail(' + data.id + ')')
         img.item-image.center-block(src= data.photo)
         p= data.title
         #overlay-box.overlay
         if items.removable
            button.btn.btn-danger.glyphicon.glyphicon-remove#delete-item(onclick="deleteItem(event, " + data.id + ")")
