h2 Add New Item
hr
form#add-form
    .form-group
        label(for="title") Name
        input.form-control(type="text", name="title", placeholder="Enter name of the item" autocomplete="off")
    .form-group
        label(for="categoryId") Category
        select.form-control(name="categoryId" autocomplete="off")
            each data in categories
                option(value= data.id)= data.name
    .form-group
        label(for="photo") Image
        input(type="file" name="photo" autocomplete="off")
        p.help-block Add an image for the item.
    .form-group
        label(for="description") Description
        textarea.form-control(name="description" rows="8" cols="35" autocomplete="off")
    input#ownerid(type="hidden" name="ownerid")
    button.btn.btn-primary(type="submit" style="float:right") Add Item
    button.btn.btn-danger(type="button" style="float:right" onclick="closeAddNewItem()") Cancel
