extends layout

block content
	h1 Sign in
	form(action="/signin", method="POST")
		label(for="email") Email
		input(type="text", name="email")

		label(for="password") Password
		input(type="password", name="password")

		input(type="submit")

	p.
		New user? Sign up now