body {
  padding-top: 30px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#box-wrapper {
  width: 600px;
  margin: auto;
  border: 1px solid #C2C7D0;
  padding: 30px;
}

#main-wrapper {
  width: 1000px;
  margin: auto;
}

form a {
  float: right;
}

.btn {
  margin: 5px;
}